$maincolor: #EEE;
$textcolor: #626D71;
$subcolor: #DDBC95;
$subtectcolor: #B38867;
$error: #dc143c;

.post-index {
  .top-section {
    .section-title {
      float: left;
    }
    .editter {
      font-size: 15px;
      float: right;
      padding-bottom: 10px;
    }
  }
  .fa-stop-circle {
    color: $error;
  }
}

.post-form {
  padding: 5px 10px;
  background-color: #EEE;
  border-radius: 10px;
  width: 100%;
  float: left;
  select {
    width: 100%;
    height: 30px;
  }
  .table {
    margin-bottom: 0 !important;
    td, th {
      border: 0px none;
      padding: 1px 5px !important;
    }
    td {
      vertical-align: middle;
      text-align: center;
    }
  }
  #postForm {
    float: left;
    width: 100%;
  }
  #submitBtn {
    cursor: pointer;
    font-size: 26px;
    border-style: none;
  }
  #stopBtn {
    margin-left: 5px;
  }
  button {
    line-height: unset !important;
  }
  input {
    width: 100%;
  }
}
.myposts {
  padding-top: 20px;
  clear: both;
  a {
    color: $textcolor;
  }
  table {
    width: 100%;
    thead th, tbody td {
      border: 1px solid #FFF;
    }
    thead th {
      color: $maincolor;
      text-shadow: 2px 2px 2px $textcolor;
      padding: 2px 3px;
      text-align: center;
      background-color: $subcolor;
    }
    tbody td {
      height: 39px;
      padding: 2px 3px;
      text-align: center;
      background-color: #EEE;
    }
  }
  #stopBtn {
    cursor: pointer;
    font-size: 26px;
    border-style: none;
    vertical-align: bottom;
  }
}
// ACTION [ SHOW ]
.post-show {
  width: 80%;
  margin: 0 auto;
  .top-section {
    width: 100%;
    .section-title {
      float: left;
    }
    .editter {
      float: right;
      font-size: 22px;
      button {
        border: 0px none;
        height: 30px;
        margin: 0 3px;
        background-color: white;
      }
      .button_to {
        float: right;
      }
      a {
        float: right;
      }
    }
  }
  .table {
    border: 1px solid #DDD;
    tbody tr {
      td {
        padding: 5px 10px;
      }
      .tbl-title {
        color: $maincolor;
        text-shadow: 2px 2px 2px $textcolor;
        text-align: center;
        background-color: $subcolor;
        width: 20%;
      }
    }
  }
  .sameday-works-table {
    width: 100%;
    thead th {
      padding: 3px;
      background-color: $subcolor;
      color: $maincolor;
      text-shadow: 2px 2px 2px $textcolor;
      border: 1px solid #DDD;
      text-align: center;
    }
    tbody td {
      text-align: center;
      padding: 3px;
      border: 1px solid #DDD;
    }
    .sum-row {
      background: rgba(218, 202, 187, 0.973);
      td {
        color: white;
        text-shadow: 2px 2px 2px $textcolor;
      }
    }
  }
}

.pagination {
  padding-top: 20px;
  .active {
    a {
      background-color: $subcolor !important;
      border: none;
    }
  }
  .page-item a {
    border: none;
  }
}
