$maincolor: #CDCDC0;
$textcolor: #626D71;
$subcolor: #DDBC95;
$subtectcolor: #B38867;
$error: #b22222;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $textcolor;
}
main {
  padding-top: 65px;
  width: 100vw;
}
.main-content {
  width: 90%;
  margin: 0 auto;
}
.section-title {
  font-size: 20px;
}
.notification {
  font-size: 26px;
}
.message-area {
  .alert {
    color: white;
    background-color: #F08080;
    margin-bottom: 0px !important;
    padding: 3px 10px;
    border-radius: 0px;
  }
  .notice {
    background-color: #90EE90;
    margin-bottom: 0px !important;
    padding: 3px 10px;
  }
}